@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/snake.png);
  background-repeat: repeat;
  background-position: center;
  background-size: 50px;
}

header {
  color: white;
  text-align: center;
}

header a {
  text-decoration: none;
  color: white;
}

header h1:hover, header a:hover {
  color: rgb(59, 112, 82);
  text-shadow: 4px 4px 8px rgb(190, 190, 190);
}

main {

}

section {
  width: 90%;
  background-color: #1c1c1c;
  border-radius: 5px;
  margin: 25px auto;
  border: 0.5px solid rgba(125, 125, 125, 0.15);
  box-shadow: 1px 1px 0.5px rgba(231, 231, 231, 0.54);
  padding: 25px;
  color: white;
}

pre {
  padding: 15px 10px;
  background-color: #404040;
  border-radius: 2px;
}
