@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  color: white;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;
}

a h1 {
  color: black;
}

a h1:hover {
  color: rgb(59, 112, 82);
}

div {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

main h2, main h3 {
  font-family: 'Indie Flower', cursive;
}

p {
  font-family: 'ABeeZee', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

img {
  margin-bottom: 10px;
}

header {
  color: black;
  font-size: 1em;
}

.kapitel {
  color: black;
}

#inhalt {
  background-color: #F44336;
}

/* Einstieg in HTML */
.a {
  background-color: #E91E63;
}

.b {
  background-color: #9C27B0;
}

.c {
  background-color: #673AB7;
}

.d {
  background-color: #3F51B5;
}

.e {
  background-color: #2196F3;
}

.f {
  background-color: #03A9F4;
}

.g {
  background-color: #00BCD4;
}

.h {
  background-color: #009688;
}

.i {
  background-color: #4CAF50;
}

.j {
  background-color: #8BC34A;
}

.k {
  background-color: #CDDC39;
}

.l {
  background-color: #FFEB3B;
}

.m {
  background-color: #FFC107;
}

.n {
  background-color: #FF9800;
}

.o {
  background-color: #FF5722;
}

.p {
  background-color: #795548;
}
